// vite.config.js
import { defineConfig } from 'vite';

export default defineConfig({
  root: 'VinaGift', // Thư mục gốc là VinaGift
  build: {
    outDir: '../VinaGift', // Xuất file build vào VinaGift
    emptyOutDir: false, // Không xóa các file tĩnh khác
    rollupOptions: {
      input: 'VinaGift/miniapp.html' // Entry point là miniapp.html
    }
  }
});